body {
	background-color:rgb(244, 240, 241);
	cursor: default;
}
div.block {
	width:50px;
	height:50px;
	display:inline-block;
	border: 2px solid black;
}
.pl:hover {
	filter:brightness(85%);
}
.zero {
	background-color:rgb(177, 183, 197);
}
.one {
	background-color:rgb(254, 234, 152);
}
button.a {
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
	width:100px;
	padding: 5px;
    text-align: center;
    display: inline-block;
	margin: 2px;
	border-radius: 10px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
button.b {
	background-color: #4CAF50;
    border: 2px solid black;
    color: white;
	width: 70px;
    text-align: center;
    display: inline-block;
	border-radius: 10px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
select.b {
	background-color: #4CAF50;
	width:40px;
	color: white;
	border:0.1px solid black;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
select.b:hover {
	background-color: red;
	color: white;
}
button.a:hover, button.b:hover , button.done:hover  {
	background-color: red;
    color: white;
}
button.done {
	background-color: #00B89D;
}
div.game_zone {
	width:1000px;
	height:855px;
	background-color: rgb(211, 201, 190);
	border-radius: 25px;
	border: 5px rgb(175, 158, 143) solid;
	color: black;
	margin:20px;
	padding:0.5px 10px 5px 10px;
	font-family: consolas;
	
}
div.gsquare {
	width:450px;
	height:460px;
	padding:10px;
	margin:0.5px 10px 10px 10px;
	background-color: rgb(193, 180, 166);
	border-radius: 25px;
	border: 5px rgb(175, 158, 143) solid;
}
div.v {
	float:left;
}
div.a {
	float:right;
}