body {
	margin: 0px;
	font-family: consolas;
	background-image: url("data/background.png");
	cursor: default;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border-bottom: 2px solid black;
	border-radius: 1px;
	
}
div.showcase {
	width:300px;
	color:white;
	background-color: #4f5966;
	border: 2px solid #181B1F;
	display: inline-block;
	margin:10px;
}
div.title {
	padding: 2px;
	font-size: 18px;
	font-weight: bold;
	background-color: #6d767e;
}
div.play {
	padding: 2px;
	font-size: 18px;
	font-weight: bold;
	background-color: #6d767e;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
div.soon {
	padding: 2px;
	font-size: 18px;
	font-weight: bold;
	background-color: #6d767e;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
div.players {
	padding: 4px;
	font-size: 14px;
	background-color: #5E6872;
}
div.desc {
	padding: 10px;
	height:430px;
}
div.status {
	padding: 4px;
	font-size:12px;
	margin:1px;
}
div.play:hover {
	filter:brightness(125%);
	-webkit-filter:brightness(125%);
}
li {
    border-right: 2px solid black;
	float:left;
}

li:last-child {
    border-right: none;
}
li.item {
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
li.menuright {
	border-left: 2px solid black;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.play a{
    color: white;
    text-align: center;
    text-decoration: none;
}
div.soon a{
    color: white;
    text-align: center;
    text-decoration: none;
}
li.item:hover {
    background-color: #111;
}
li.active {
	font-weight: bold;
	background-color: #595959;
}
li.soon {
	background-color:  #262626;
}