body {
	margin: 0px;
	font-family: consolas;
	background-image: url("data/background2.png");
	cursor: default;
	color: #f2f2f2;
}
div.block {
	width:25px;
	height:25px;
	display:inline-block;
	border: 2px solid #736e59;
	align-content:center;
	position: relative;
}
span.ord {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-size:75%;
}
div.block:hover {
	filter:brightness(85%);
	-webkit-filter:brightness(85%);
}

.z {
	background-color:#b1b7c5;
}
.a {
	background-color:#9c6514;
}
.b {
	background-color:#149c97;
}
button.c {
	background-color: #635E55;
    border: 1.5px solid #736e59;
    color: #f2f2f2;
	width: 20px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
button.a {
    background-color: #635E55;
    border: 1.5px solid #736e59;
    color: #f2f2f2;
	min-width:108px;
	padding: 5px;
    text-align: center;
    display: inline-block;
	margin: 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
button.b {
	background-color: #635E55;
    border: 1.5px solid #736e59;
    color: #f2f2f2;
	min-width: 70px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
input.b {
	background-color: #635E55;
    border: 1.5px solid #736e59;
    color: #f2f2f2;
	min-width: 70px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
select.b {
	background-color: #635E55;
	width:45px;
	color: #f2f2f2;
	border:0.1px solid #736e59;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
select.c {
	width:30px;
	border:0.1px solid #736e59;
}
select.b:hover {
	background-color: #636375;
	color: #f2f2f2;
}
button.a:hover, button.b:hover , button.done:hover, button.c:hover {
	background-color: #636375;
    color: #f2f2f2;
}
button.done {
	background-color: #4A5657;
}
button.a:hover , button.b:hover, button.done:hover  {
	background-color: #636375;
    color: #f2f2f2;
}
button.c:hover {
	filter:brightness(90%);
	-webkit-filter:brightness(90%);
}
div.game_zone {
	width:1000px;
	height:720px;
	background-color: #9b957d;
	border: 2px #736e59 solid;
	color: #f2f2f2;
	margin:20px;
	padding:10px 10px 5px 10px;
	
}
div.gsquare {
	display: flex;
	line-height:0%;
	width:450px;
	height:450px;
	padding:10px;
	margin:4px;
	background-color: #C9BDA5;
	border: 2px #736e59 solid;
}
div.outborder {
	border: 2px solid #736e59;
}
div.profile {
	display:inline-block;
	width:220px;
	margin:4px;
	background-color: #C9BDA5;
	border: 2px #736e59 solid;
}
div.proftitle {
	padding:2px;
	font-size: 18px;
	font-weight: bold;
	background-color: #9E9B81;
}
div.score {
	padding:3px;
	font-size: 19px;
	background-color: #8A8976;
	
}
div.picks {
	padding:2px;
	height:20px;
	background-color: #5C5B4F;
}
div.lastpickstitle {
	padding:2px;
	font-size: 17px;
	background-color: #9E9B81;
}
div.lastpicks{
	padding:4px;
	font-size: 16px;
	background-color: #8A8976;
	height:290px;
}
div.color {
	padding:2px;
	height:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	height: 48px;
	width: 100%;
    background-color: #333;
	border-bottom: 2px solid black;
	margin-bottom: 2px;
	border-radius: 1px;
	
}
li {
	height: 100%;
    border-right: 2px solid black;
	float:left;
}

li:last-child {
    border-right: none;
}
li.item {
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
li.menuright {
	border-left: 2px solid black;
}
li a {
    display: block;
    color: #f2f2f2;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
div.play a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}
div.soon a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}
li.item:hover {
    background-color: #111;
}
li.active {
	font-weight: bold;
	background-color: #595959;
}
li.soon {
	background-color:  #262626;
}

div.credits {
	color: #f2f2f2;
}

.customerr {
	color:#d24646;
	font-weight:bold;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
	border: 2px solid black;
    z-index: 1;
	margin-left: -2px;
}

.dropdown-content a {
    color: #f2f2f2;
    text-decoration: none;
	border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-content a:last-child {
	border-bottom: none;
}


.dropdown-content a:hover {
	background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-active {
	font-weight: bold;
	background-color: #595959;
}