body {
	font-family: consolas;
	background-image: url("data/background.png");
	cursor: default;
	color: white;
}
div.block {
	width:50px;
	height:50px;
	display:inline-block;
	border: 2px solid #282C33;
}
.pl:hover {
	filter:brightness(85%);
	-webkit-filter:brightness(85%);
}
.zero {
	background-color:rgb(177, 183, 197);
}
.one {
	background-color:rgb(254, 234, 152);
}
button.a {
    background-color: #242e42;
    border: 1.5px solid black;
    color: white;
	min-width:108px;
	padding: 5px;
    text-align: center;
    display: inline-block;
	margin: 2px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
button.b {
	background-color: #242e42;
    border: 1.5px solid black;
    color: white;
	min-width: 70px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}
select.b {
	background-color: #242e42;
	width:40px;
	color: white;
	border:0.1px solid black;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
select.b:hover {
	background-color: #291f47;
	color: white;
}
button.a:hover, button.b:hover , button.done:hover  {
	background-color: #291f47;
    color: white;
}
button.done {
	background-color: #234790;
}
div.game_zone {
	width:1000px;
	height:785px;
	background-color: #4f5966;
	border: 2px #282C33 solid;
	color: white;
	margin:20px;
	padding:10px 10px 5px 10px;
	font-family: consolas;
	
}
div.gsquare {
	line-height:0%;
	width:450px;
	height:460px;
	padding:10px;
	margin:0.5px 10px 10px 10px;
	background-color: #6d767e;
	border: 2px #282C33 solid;
}
textarea.code {
	height:40px; 
	width:900px; 
	text-align:center; 
	resize:none;
	padding:2px 10px 2px 10px;
	margin:0px;
	background-color: #6d767e;
	border: 2px #282C33 solid;
	color:white;
	font-family:consolas;
}
div.v {
	float:left;
}
div.a {
	float:right;
}
li.item:hover {
    background-color: #111;
}
li.item {
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
li.active {
	font-weight: bold;
	background-color: #595959;
}
li.soon {
	background-color:  #262626;
}
li.mm {
    border-right: 2px solid black;
	float:left;
}

li.mm:last-child {
    border-right: none;
}

li.mm a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.mm {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border: 2px solid black;
	border-radius: 1px;
	
}
div.credits a {
	color: #142952;
}