body {
    margin: 0px;
	font-family: consolas;
	cursor: default;
}

.main_add {
    height: 156px;
    width: 156px;
    border: 2px solid;
    display: inline-block;
}

.sub_add {
    height: 50px;
    width: 50px;
    border: 1px solid;
    display: inline-block;
}

.number_add {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main {
    border: 1px solid;
    float: left;
}

.controls {
    border: 4px solid;
    height: 474px;
    width: 210px;
    float: right;
}

.container {
    width: 710px;
    height: 500px;
}

.input_area {
    border: 2px solid;
    padding: 5px 0px 0px 5px;
    margin: 8px 0px 5px 0px;
    height: 170px;
}

.bottom_text {
    padding: 0px 5px 0px 5px;
    font-size: 15px;
    margin: 5px 0px 0px 0px;
}

button.a {
    border: 1px solid;
	min-width: 158px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
	margin: 3px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: default;
}





.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
	border: 2px solid black;
    z-index: 1;
	margin-left: -2px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
	border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-content a:last-child {
	border-bottom: none;
}


.dropdown-content a:hover {
	background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-active {
	font-weight: bold;
	background-color: #595959;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	height: 48px;
	width: 100%;
    background-color: #333;
	border-bottom: 2px solid black;
	margin-bottom: 2px;
	border-radius: 1px;
	
}
li {
	height: 100%;
    border-right: 2px solid black;
	float:left;
}

li:last-child {
    border-right: none;
}
li.item {
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
li.menuright {
	border-left: 2px solid black;
}
li.noborder {
    border-left: 0px solid black;
}

li a {
    display: block;
    color: white;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
li.active {
	font-weight: bold;
	background-color: #595959;
}